
.flex-item {
    width: 50px;
    height: 100px;
}
.demo-text-1{
    background-color: rebeccapurple;
}
.demo-text-2{
    background-color: rgb(216, 132, 132);
}
.demo-text-3{
    background-color: rgb(74, 192, 157);
}

.blue-block {
    background-color: rgb(192, 192, 238);
}