.index {
    margin: 0 auto;
    padding: 10px;
}

.view-content {
    margin: 10px;
    padding: 10px;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    background-color: rgb(68, 68, 68);
}

.view-item {
    margin: 10px;
    padding: 10px;
}

.view-text {
    font-size: 28px;
}

.point-text {
    color: rgb(47, 146, 163);
}