.tab-wrapper{
    border-color: #E8E8E8;
    border-style: solid;
    border-bottom-width: 1px;
    padding: 46px 30px 16px 30px;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
  }
  .tab-item {
    align-items: center;
  }
  .box-active {
    background-color: green;
  }
  .tab-name {
    color: #999;
    font-size: 28px;
  }
  .active {
    color: red;
    font-weight: bold;
  }